body {
  width:100%;
  height: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav {
  font-family: $font-1;
}


section {
  height: 100%;
  padding-top: 91px;
  text-align: center;
}


h1 {
  font-family: $font-1;
  font-weight: bold;
  font-size: 11em;
}

h2 {
padding-bottom: 1.2em;
font-size: 1.7em;
text-decoration: underline;
text-decoration-style: dotted;
font-family: $font-1;
}

h4 {
  font-family: 'Source Code Pro', ;
  font-size: 1.5em;
}

p {
  font-family: $font-2;
  color: black;
}
