.quotes-section {
    background: #eee;
    font-family: 'Karla', sans-serif;
    font-size: 2em;
    padding-bottom: 3em; 
}

.quote-name {
  color: #337ab7;
}

.quote {
  padding-right: 10px;
}


.quote2 {
  border-left: 1px solid white;
  border-right: 1px solid white;
}