//import google fonts
@import url(http://fonts.googleapis.com/css?family=Karla);

//font variables
$font-1: 'Source Code Pro', ;
$font-2: 'Karla', sans-serif;

//color variables 
$color-darkblue: #024692;
$color-blue: #337ab7;
$color-grey: #eee;
$color-white: white;

