.video-section {
    background: #024692;
    font-family: 'Karla', sans-serif;
    font-size: 2em;
    color: white;
    padding-bottom: 3em; 
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
